.container {
    text-align: center;
    margin-top: 100px;
}

label {
    display: block;
}

input {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

#result {
    font-weight: bold;
    margin-top: 20px;
}
